extends layouts/base.jade
block body
  .consumer.dashboard.container
    .row.dash-group
      .col-sm-12
        .btn-group
          a.btn.btn-primary(href="{{ url_for('frontend.consumer_url', consumer_url=consumer.consumer_url) }}") View Your Profile

          a.btn.btn-concerned(href="{{ url_for('security.change_password') }}")  Change Your Password

    .row.dash-group
      .col-sm-4.col-sm-push-8
        .row
          .col-sm-12
            .consumer.thumb-container.large
              -if consumer.avatar
                img.img-responsive(src="#{consumer.avatar.sm_thumb}")
              -else
                img.img-resonsive(src="http://placehold.it/200x200")

            form.form-horizontal(action="{{ url_for('dashboard.save_avatar') }}", method="post", role="form", enctype="multipart/form-data")
              = file_upload_form.csrf_token()

              .form-group
                = file_upload_form.up_file.label(class_="col-sm-4 control-label")
                .col-sm-8
                  = file_upload_form.up_file(class_="form-control")

              .form-group
                .col-sm-4.col-sm-offset-4
                  input.btn.btn-cta(type="submit")

        form.form-horizontal(action="{{ url_for('dashboard.user_info') }}", method="post", role="form")
          = consumer_info_form.csrf_token()

          .form-group
            = consumer_info_form.first_name.label(class_="control-label col-sm-4")
            .col-sm-8
              = consumer_info_form.first_name(class_="form-control")

          .form-group
            = consumer_info_form.last_name.label(class_="control-label col-sm-4")
            .col-sm-8
              = consumer_info_form.last_name(class_="form-control")

          .form-group
            = consumer_info_form.email.label(class_="control-label col-sm-4")
            .col-sm-8
              = consumer_info_form.email(class_="form-control")

          .form-group
            .col-sm-4.col-sm-offset-4
              = consumer_info_form.submit(class_="btn btn-cta")

      .col-sm-8.col-sm-pull-4
        .row
          .col-sm-12
            h2 Tell us about your hair.
            form.form-horizontal(action="{{ url_for('dashboard.hair_status') }}", method="post", role="form")
              = hair_status_form.csrf_token()

              .form-group
                = hair_status_form.status.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_status_form.status(class_="form-control", placeholder="Fresh, beautiful, creative, needs a stylist, needs a barber, etc.")

              .form-group
                .col-sm-4.col-sm-offset-4
                  = hair_status_form.submit(class_="btn btn-cta")
        .row
          .col-sm-12
            form.form-horizontal(action="{{ url_for('dashboard.hair_journey') }}", method="post", role="form")
              = hair_journey_form.csrf_token()

              .form-group
                = hair_journey_form.journey.label(class_="col-sm-4 control-label")
                .col-sm-8
                  = hair_journey_form.journey(class_="form-control", placeholder="Give us an overview of your hairstyles throughout the years and the goals you have for your hair now.")

              .form-group
                .col-sm-4.col-sm-offset-4
                  = hair_journey_form.submit(class_="btn btn-cta")

        .row
          .col-sm-12
            h2 Fill out your online hair consultation:
            form.form-horizontal(action="{{ url_for('.hair_routine') }}", method="post", role="form")
              = hair_routine_form.csrf_token()

              .form-group
                = hair_routine_form.hair_condition.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.hair_condition(class_="form-control")

              .form-group
                = hair_routine_form.scalp_condition.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.scalp_condition(class_="form-control")

              .form-group
                = hair_routine_form.chemical_treat.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.chemical_treat(class_="form-control")

              .form-group
                = hair_routine_form.last_treatment.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.last_treatment(class_="form-control")

              .form-group
                = hair_routine_form.fav_style.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.fav_style(class_="form-control")

              .form-group
                = hair_routine_form.shampoo_type.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.shampoo_type(class_="form-control")

              .form-group
                = hair_routine_form.shampoo_frequency.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.shampoo_frequency(class_="form-control")

              .form-group
                = hair_routine_form.conditioner_type.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.conditioner_type(class_="form-control")

              .form-group
                = hair_routine_form.condition_frequency.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.condition_frequency(class_="form-control")

              .form-group
                = hair_routine_form.last_trim.label(class_="control-label col-sm-4")
                .col-sm-8
                  = hair_routine_form.last_trim(class_="form-control")

              .form-group
                .col-sm-4.col-sm-offset-4
                  = hair_routine_form.submit(class_="btn btn-cta")

    .row.dash-group
      .col-sm-12
        h2 Favs
        table.table
          thead
            tr
              th Business
              th Send Your Consultation?
              th Shared
          tbody
          -each fav in consumer.favorites
            tr
              td= fav.business_name
              td
                a.btn.btn-cta(href="#{url_for('dashboard.share', provider_id=fav.id)}") Share your hair info!
              td
