extends layouts/base.jade
{% from 'includes/pagination.jade' import pagination %}

block body
  .dashboard-gallery.container
    h1 Gallery innit

    -if photos
      .row
        .col-sm-12
          +pagination(photos)

      .gallery.row
        .links
          -each photo in photos.items
            .col-sm-4
              .thumb-container.large
                a(href="#{photo.url}", data-gallery)
                  img.img-responsive(src="#{photo.lg_thumb}")

      .row
        .col-sm-12
          +pagination(photos)

  include includes/blueimp-gallery.jade
