extends layouts/base.jade
block body
  .about-us
    .container
      .row
        .col-sm-12

  .about-content
    .row
      .col-sm-8.col-sm-offset-2.condense
        h1 What's going on here?
        p.
          In 2014, <b>hair and technology combine to bring you HairShopSearch</b>. HairShopSearch is a hub for people looking for black and brown hair care and beauty solutions. This much needed website
          <bold>provides huge solutions that other bigger, well-known companies do not offer</bold>.

        p.
          This website <mark style="background-color:#F8C800;">specifically targets customers looking for black and brown hair care and beauty solutions</mark> along with the providers that offer these services and products. We take the guess work out of the hair care and beauty search. On this website, customers no longer have to make sure to type 'black' or 'brown' before every search they make for hair care and beauty. And <mark style="background-color:#F8C800;">providers don't have to wonder what types of customers are actually viewing their advertised listing</mark>. The site provides an easy, organized experience for each customer and provider involved.

        h2 The reason behind it all
        p.
          First, welcome to the site folks! My name is Whitney. I am a new Dallas Texan with a passion for developing websites that <mark style="background-color:#F8C800;">streamline the way customers find providers</mark> of black and brown hair care in their communities. And I'm the founder of this innovative website.
        p.
          I started this project because I wanted to eliminate the irritations I had when searching online for local providers. <mark style="background-color:#F8C800;">Like most folks when they move, I had no clue where to get my hair done</mark>. I figured I'd try to find a stylist online. After searching online for a while, all the guessing started to get annoying. Does she do black hair? Does he do black hair? I know they are black, but do they do black hair?
        p.
          You see if I'm going to spend my money and risk my hair, I want to first <mark style="background-color:#F8C800;">get an inside look at a local provider's business to view information, photos, and ratings</mark>. When you make this information easily available online, it gives customers comfort and tells them you have the right skills and experience with hair like theirs. It's a win-win for everyone.

        h2 Taking on a challenge
        p.
          The core challenge was to design a website that serves as the connecting ground for a community search bringing customers and providers with the right skills together. After a lot of research, months of work, and a lot of testing, my team and I designed and programmed a website that is ready to solve this core challenge. <mark style="background-color:#F8C800;">The current 1.0 version of the website already has just enough unique features to get customers into provider doors</mark>. Our connecting platform enables users to register and create either an online customer hair consultation or a provider profile listing. Providers can complete a provider profile listing fast and easy.
        p.
          At the same time, customers have the opportunity to fill out a quick, online customer hair consultation. Customers can favorite provider profile listings and choose to share personal hair information with these providers. <mark style="background-color:#F8C800;">This is a very powerful connection</mark> that puts customers in the driver's seat and let's providers advertise effectively to the types of customers they want to attract. The first version of HairShopSearch offers many simple but creative features for its initial users. Whether you are a customer actively seeking local providers OR a local provider interested in a new way to advertise to customers, <mark style="background-color:#F8C800;">HairShopSearch will give you an advantage</mark>.

        h2 Now We Need You
        p.
          Here's where you, the user, come in…
          My team and I have spent the past few months designing and programming the initial site
          to release for the Dallas/Fort-Worth launch. Now, we need the good people of DFW! We’ve
          built the platform. Now we are recruiting you, our respected audience, to grow with us.
          Spotlight your businesses, build your web presence, tell the story of your hair journey,
          and spread your influence. Do all these things because the website is right here for you
          to make it happen.

        h2 Your Voice Matters
        p.
          On our end we will continue to listen to your feedback, make things pretty, and add new
          features that will put a smile on your face. As we grow together, the company will still be
          focused on creating featured advertisement opportunities for providers and other brands;
          we will continue the process of completing sponsorship deals with established brands; all the while, we will be raising more capital and accepting contributions of all types to be invested 100% into the future growth and development of the company. Growth and development includes: continued optimization of web design and programming function for future version releases;
          increased social media, email, and community outreach; thorough analysis of website
          metrics for validated learning; and anything else that will help the website be of value
          to its users. Give us that feedback. And get involved. This could be the best website
          you’ve ever joined.



        .row
          .col-sm-2.col-sm-offset-5
            <a href="/register"><input class="btn btn-cta" value="Register Now"></a>

        h2 Our Mission
        p.
          Create solutions within the black and brown hair care and beauty industry.
          Emphasize connection. Engage customers. Enhance businesses.


        h2 The Truth
        p.
          It’s not just hair and beauty.  It’s a huge part of our
          lives.  Stay on course and shine a spotlight on your passion for hair
          and beauty.  HairShopSearch is solving the problem of:

        ul
          li Connections to solutions through search
          li Developing web presence
          li Brand advertisement


        h2 Join in the Fun
        p.
          We're launching in Dallas-Fort Worth! If you work at a salon or barbershop, or you
          sell hair care or beauty products, feel free to <a href="/contact-us">contact us</a> to schedule a free in-person introduction to HairShopSearch.

        p.
          Also, if you are the owner or work in admissions for a local DFW cosmetology/barber school,
          give us a call/email to discuss advertisement and sponsorship opportunities.

        p.
          We'll get back to you quickly.
    .row
      .col-sm-8.col-sm-offset-2
        p.sub.last-cta-call
              Not Not a hair or beauty professional (or school) but still want to advertise with us? <a href="/contact-us">Get in touch.</a>

