extends layouts/base.jade
block body
  .customer-img
    .container
      .row
        .col-sm-12

  .consumer-marketing.container
    .row
      .col-sm-8.col-sm-offset-2
        h1 For Consumers
        h2 People Looking for Hair Care and Beauty Products
        p.
          Stay on top of your look with HairShopSearch.  

        h2 Current Challenge
        p.
          It's difficult to find quality professionals online that you feel you
          can trust.  Or when you move.  Or even at the last minute.

        h2 HairShopSearch Solution
        p.
          You'll find those quality professionals at HairShopSearch.

        h2 Formula for Success
        p.
          Engage in smarter, faster, more reliable connections. Exposure to the
          things you need. Solutions for all.

        h2 How It Works
        ul
          li Register for a Consumer Profile below.
          li Follow our simple guide complete your online consultation.
          li Begin to connect with providers! Search hair care and beauty Solutions - Salons, Barbershops, and Product locations.
          li When you favorite a Provider Profile Listing, your hair consultation will be viewable to that particular provider.
    .row
      .col-sm-4.col-sm-offset-4.text-center
        .btn.btn-cta Let's Get Started

