extends layouts/base.jade
block body
  .provider-img
    .container
      .row
        .col-sm-12

  .provider-marketing.container
    .row
      .col-sm-8.col-sm-offset-2
        h1 For Providers
        h2 Salons, Barbershops, and Product Locations
        p.
          We've built this connecting platform just for you and the hair care
          and beauty solutions you provide. Connect to motivated consumers who
          are looking for the products and services you offer.

        h2 Current Challenge
        p.
          You need to connect to customers online, but connecting with
          potential customers online can be a difficult process. 

        h2 HairShopSearch Solution
        p.
          We bring businesses online to create an Internet space where brands
          can grow.

        h2 Formula for Success
        p.
          Attract new consumers to the products and services you offer.  When
          you do, you’ll gain access to the consumer profiles of people who
          favorite you as a provider.

        h2 How It Works
        ul
          li Register for a Provider profile listing by clicking below.
          li Follow our simple guide to complete your profile.
          li After that, you'll be listed! Our platform will help guide motivated consumers to your page.
          li Encourage consumers to favorite your profile.
          li You gain information about consumers when they favorite you.

    .row
      .col-sm-4.col-sm-offset-4.text-center
        .btn.btn-cta Let's Get You Listed
