{% extends "layouts/base.jade" %}
{% block body %}
<div class="tos-header-banner">
    <div class="container">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="tos-nav nav nav-pills nav-stacked">
                <li class="active">
                    <a href="{{ url_for('frontend.tos') }}">
                        Terms of Service
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('frontend.privacy_policy') }}">
                        Privacy Policy
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1>HairShopSearch Terms of Service ("Agreement")</h1>
            <p>This Agreement was last modified on December 07, 2013.</p>

            <p>Please read these Terms of Service ("Agreement", "Terms of Service")
            carefully before using http://hairshopsearch.com ("the Site") operated by
            HairShopSearch, Inc. ("us", "we", or "our"). This Agreement sets forth the
            legally binding terms and conditions for your use of the Site at
            http://hairshopsearch.com.</p>
            <p>By accessing or using the Site in any manner,
            including, but not limited to, visiting or browsing the Site or contributing
            content or other materials to the Site, you agree to be bound by these Terms of
            Service. Capitalized terms are defined in this Agreement.</p>

            <p><span class="h3">Intellectual Property</span> The Site and its original
            content, features and functionality are owned by HairShopSearch, Inc. and are
            protected by international copyright, trademark, patent, trade secret and other
            intellectual property or proprietary rights laws.</p>

            <p><span class="h3">Termination</span> We may terminate your access to the Site,
            without cause or notice, which may result in the forfeiture and destruction of
            all information associated with you. All provisions of this Agreement that by
            their nature should survive termination shall survive termination, including,
            without limitation, ownership provisions, warranty disclaimers, indemnity, and
            limitations of liability.</p>

            <p><span class="h3">Third-Party Site Links, Products, or Services</span> Our
            Site may contain links to or reference third-party sites, products, or services
            that are not owned or controlled by HairShopSearch, Inc..</p>

            <p>HairShopSearch, Inc. has no control over, and assumes no responsibility for,
            the content, privacy policies, or practices of any third party profile
            listings, sites, products, or services. We strongly advise you to read the
            terms and conditions and privacy policy of any third-party site that you
            visit.</p>

            <p><span class="h3">Governing Law</span> This Agreement (and any further rules,
            polices, or guidelines incorporated by reference) shall be governed and
            construed in accordance with the laws of United States, without giving effect
            to any principles of conflicts of law.</p>

            <p><span class="h3">Changes To This Agreement</span> We reserve the right, at our
            sole discretion, to modify or replace these Terms of Service by posting the
            updated terms on the Site. Your continued use of the Site after any such
            changes constitutes your acceptance of the new Terms of Service.</p>

            <p>Please review this Agreement periodically for changes. If you do not agree to any of
            this Agreement or any changes to this Agreement, do not use, access or continue
            to access the Site or discontinue any use of the Site immediately.</p>

            <p><span class="h3">Contact Us</span> If you have any questions about this
            Agreement, please contact us at info@hairshopsearch.com.</p>
        </div>
    </div>
</div>
{% endblock %}
