{% extends "layouts/base.jade" %}
{% block body %}
<div class="container welcome">
    <div class="row">
        <div class="col-md-12">
            <h1 class="align-center"> Welcome to HairShopSearch! </h1>
            <h4 class="align-center"> Please take a moment to introduce yourself. </h4>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <h1>
                    I am a provider.
                </h1>
                <p>
                    I own or work at a salon, barbershop, or small business that offers
                    hair care and beauty products.  I want to create a provider profile
                    listing to market my business.
                </p>

                <a class="btn btn-cta center-block" href="{{ url_for('dashboard.new_provider') }}">Click Here</a>
            </div>
        </div><!-- /.row -->

        <div class="col-md-6">
            <div class="panel right">
                <h1>
                    I am a customer.
                </h1>
                <p>
                    I am looking for hair care and beauty solutions.  I want to fill out a online
                    customer hair consultation and keep track of solutions I find.
                </p>
                <a class="btn btn-cta center-block" href="{{ url_for('dashboard.new_consumer') }}">Click Here</a>
            </div>
        </div><!-- /.row -->
    </div>
</div>

{% endblock %}
