#gallery-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h2.modal-title
      .modal-body
        img#gallery-image(src="", title="")
      .modal-footer
        button.btn.btn-default(type="button", data-next="") Next
        button.btn.btn-default(type="button", data-prev="") Prev
